h1 {
    color: rgb(51, 51, 51);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
    color: rgb(51, 51, 51);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3 {
    color: #4c4c7e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
    color: gold; /* Standardfärg för länkar */
    text-decoration: none; /* Ta bort understrykning, om så önskas */
}

/* -----Allmäna länkar CSS---- */

.main-grid .header .header-item ul li a {
    color: gold;
    text-decoration: none; 
    font-weight: bold;
}
.main-grid .header .header-item ul li a:hover {
    color: orange;
}

.main-grid .header .header-item ul li a:active {
    color: orange; 
}

.main-grid .header .header-item ul li a:visited {
    color: rgb(94, 72, 16); 
}

/* -------MAIN--------- */

.main-grid {
    display: grid;
    grid-template-columns: 1fr; 
}

/* --------------Header Part------------- */

.header {
    /* border: 1px solid black; */
    display: grid;
}
.header-item { /* Header barnen */
    /* border: 1px dotted red; */
    justify-content: center;
    display: flex;

}
.header div img { /* Freaky Fashion loggo */
    height: 100px;

}
.header-item form input { /* Sökrutan */
    width: 300px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    
}
.header-item form input::placeholder { /* Sökrutans text (placeholder) */
    color: #666666;
    font-style: italic;
    font-size: 18px;
}
.header-item a img { /* Hjärt & korg ikonerna */
    height: 29px;
    width: 29px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.header-item ul { /* Menyn */
    list-style-type: none; /* Tar bort prick framför li-items*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}
.header-item:last-child { /* Ta sista barnet för att ändra placering på menyn*/
    justify-content: flex-start; /* Gör så ul placeras till vänster */
}
.header-item ul li { /* <li> i menyn */
    margin-bottom: 5px;
}

/* ---------HERO PART--------- */

.hero {
    display: grid;
    border: 2px solid rgb(51, 51, 51);
    padding: 10px;
    border-radius: 25px 0 25px 0;

}
.hero-item {    /* Hero containern + border */
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}
.hero-item img {  /* Hero bilden */
    border-radius: 25px 0 25px 0;
    width: 100%;

}
.hero-item p {  /* Ändra <p> specifikt för hero-item*/
    margin: 5px;
    width: 100%;
}
.hero-item h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
}

/* --------SPOTS PART--------- */

.spots { /* Spots containern */
    display: none; /* Skall ej visas i mobil-läge */
    /* display: flex; */
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.spots-item {
    position: relative;
    display: flex;

}
.spots-item img {
width: 100%;
border-radius: 15px;
border: 1px solid black;

}
.spots-item h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* centrerar texten */
    font-size: 30px;
    margin: 0px; /* ta bort standard margin på h2 */

}

/* -------MAIN PART------- */

.main {

}
.main-item {
    margin: 20px 5px 20px 5px;
}
.main-item img { /* Bilderna */
    max-width: 100%;
    border-radius: 15px;
}
.main-item-description { /* Förklaringarna efter bild */
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.main-item-description .price { /* priserna till kläder */
    justify-self: end;
    margin: 5px;
    
}
.main-item-description .clothes-item { /* klädesplaggets namn */
    justify-self: start;
    margin: 5px;
    
}
.main-item-description .clothes-brand { /* Företag som gjort kläderna */
    justify-self: start;
    margin: 5px;
}
.main-item-description h3 {
    font-size: 18px;
}
.main-item-description p:first-of-type { /* Gör första <p> större */
    font-size: 18px;
    font-weight: bolder;
}
.main-item-description p:last-of-type { /* Gör sista <p> mindre */
    font-size: 14px;
}
.main-item-img { /* Skapa img & dess container till relative */
    position: relative;
}
.like-button-filled { /* Skapa hjärt-ikonen */
    position: absolute;
    width: 50px;
    top: 87%; 
    right: 10px;
    translate: translate(-85%, -85%);
    z-index: 10; 
}
.like-button-blanc { /* Skapa hjärt-ikonen */
    position: absolute;
    width: 50px;
    top: 87%; 
    right: 10px;
    translate: translate(-85%, -85%);
    z-index: 10; 
}
.new-icon { /* Skapa Nyhet-ikonen*/
    position: absolute;
    top: 10px;
    left: 10px; 
    background-color: rgb(51, 51, 51);
    border-radius: 5px; 
    z-index: 20;
    padding: 0 20px 0 20px;
}
.new-icon p {
    color: white;
}

/* -----FOOTER----------- */

.footer {
    border-top: 4px solid gold;
    background-color: rgb(228, 228, 228);
    border-bottom: 4px solid gold;

}
.site-icons {
    display: flex;
    gap: 20px;
    
}
.site-icons img {
    width: 50px;
    margin: 20px 0px 20px 30px;
}
.site-icons p {
    margin: 20px 0px 20px 30px;
    font-weight: bold;
}
.copyright {
    text-align: center;
    padding-top: 20px;
    border-top: 4px solid gold;
}

/* ------ACCORDION---------- */

.accordion ul * {
    list-style-type: none;
}
.accordion-button {
    background-color: gold !important; /* Guldfärg */
    color: #000 !important;
    border: none !important;
}

.accordion-button:not(.collapsed) {
    background-color: goldenrod !important; 
    color: white !important;
}

.accordion-body {
    background-color: rgb(228, 228, 228) !important; /* Ljusgrå bakgrund */
    color: rgb(51, 51, 51) !important; /* Textfärg */
}

.accordion ul * {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 5px 5px 5px 5px;
}

/* -------Media Queries >640px----- */

@media (min-width: 640px) {
    
}